{% extends "base.html.twig" %}
{% block title %}Créer une nouvelle ville{% endblock %}
{% block body %}
{# {{form(villeForm)}} #}
{{form_start(villeForm)}}
<div class="row">
    <div class="col">{{form_row(villeForm.nom)}}</div>
    <div class="col">{{form_row(villeForm.population)}}</div>
</div>
{{form_rest(villeForm)}}
{% endblock %}